<section class="section">
  <div class="has-background-white container pt-0">
  <h1 class="has-text-centered title is-2">Posts</h1>

  <% @posts.each do |p| %>
    <div class="media-content m-5 box">
      <div class="content">
        <strong class="title is-4"><%= p.title %></strong>
        <p class="pt-2"><%= p.body %></p>
        <small><%= user_logged(p.user) %></small>
      </div>
    </div>
    <% end %>
  </div>
</section>
