<h1>It works!</h1>

<% if user_signed_in? %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete%>
<% end %>

<br><br><br><br><br><br>

<%= @posts.each do |p| %>
  <%= p.title %>
  <%= p.body %>
<% end %>